
@{
    ViewData["Title"] = "New World";
}

<content class="col-md-12 col-lg-12 margin-top-30" style="height:800px; border:solid 1px gray">
    <div id="background" class="full-size">
        <div id="layer0" class="full-size" style=""></div>
    </div>
    <div id="handles" class="full-size">
        <div class="handle"></div>
        <div class="handle"></div>
        <div class="handle"></div>
        <div class="handle"></div>
        <div class="handle"></div>
        <div class="handle"></div>
        <div class="handle"></div>
        <div class="handle"></div>
        <div class="handle"></div>
        <div class="handle"></div>
        <div class="handle"></div>
    </div>
</content>

