
@{
    ViewData["Title"] = "New World";
}

<content class="col-md-12 col-lg-12 margin-top-30" style="height:800px; border:solid 1px gray">
    <div id="layer0" class="full-size" style="background-color:dodgerblue; "></div>
</content>

