@{
    ViewData["Title"] = "New World";
    
}

<content class="col-md-12 col-lg-12 margin-top-30" style="height:750px; border:solid 1px gray; clip-path: inset(0 0 0 0)">
    <div id="background" class="full-size">
        <div id="layer0" class="full-size" style=""></div>
        <div id="layer1" class="full-size" style=""></div>
        <div id="layer2" class="full-size" style=""></div>
        <div id="layer3" class="full-size" style=""></div>
        <div id="layer4" class="full-size" style=""></div>
    </div>
    <div id="handles" class="full-size"></div>
</content>

<div class="col-md-12 col-lg-12 margin-top-30 margin-bottom-30 scroll-bar">
    <div class="scroll-handle"></div>
</div>

<aside style="z-index:100">
    <div class="slider col-md-10 col-lg-10 margin-top-100 horizontal-center">
        <div class="bar"></div>
        <div class="handle" style="left:0%"></div>
        <input type="range" min="0" max="4" class="hidden"/>
    </div>
    <div class="layer-color col-md-12 col-lg-12 margin-top-30 horizontal-center">
        <div class="color pos-absolute horizontal-center">
        </div>
    </div>
</aside>

<aside id="color-selector" class="closed small" style="z-index:99;">
    <div data-target="colors" class="server-color col-lg-12 col-md-12 margin-top-100 horizontal-center">

    </div>
</aside>

