
@{
    ViewData["Title"] = "Collor Palette";
}

<content class="col-lg-12 col-md-12 col-sm-12 margin-top-30" style="height:750px;">
    <div class="color-picker">
        <div class="satlum-mat large col-lg-8 col-md-8 padding-0" style="background: linear-gradient(0deg, #000, rgb(255,255,255,0.0)), linear-gradient(270deg, rgb(255,0,0), #fff)">
            <div style="top:0%; left:100%">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </div>
</content>

<aside>
</aside>


