:root {
    --dark-color: rgb(30, 30, 39);
    --light-color: rgb(235, 235, 235);
    --active-color: rgb(0, 255, 144);
    --danger-color: #c36251;
    --trans-active-color: rgba(0,255,144,0.5);
    --trans-dark-color:rgba(30, 30, 39, 0.5);
}
