body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

*{
    font-family:'Trebuchet MS';
}

.pos-absolute{
    position:absolute;
}

a:focus, button:focus {
    outline: none;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-left-30{
    margin-left:30px;
}

.padding-0 {
    padding: 0;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

section {
    display: block;
    overflow: auto;
}

.horizontal-center {
    left: 50%;
    transform: translateX(-50%);
}

.full-size {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}