body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

*{
    font-family:'Trebuchet MS';
}

.pos-absolute{
    position:absolute;
}

a:focus, button:focus {
    outline: none;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-top-150 {
    margin-top: 150px;
}

.margin-top-250{
    margin-top:250px;
}

.margin-top-300 {
    margin-top: 300px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-left-30{
    margin-left:30px;
}

.margin-right-30{
    margin-right:30px;
}

.padding-0 {
    padding: 0;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.font-12{
    font-size:12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-30{
    font-size:30px;
}

.font-50 {
    font-size: 50px;
}

.height-50{
    height:50px;
}

.height-100{
    height:100px;
}

.height-250{
    height:250px;
}

.height-500{
    height:500px;
}

section {
    display: block;
    overflow: auto;
}

.horizontal-center {
    left: 50%;
    transform: translateX(-50%);
}

.vertical-center{
    top:50%;
    transform:translateY(-50%);
}

    .vertical-center.horizontal-center {
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

.full-size {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}