:root {
    --dark-color: rgb(30, 30, 39);
    --light-color: rgb(235, 235, 235);
    --active-color: rgb(0, 255, 144);
    --danger-color: #c36251;
}

a:focus, button:focus{
    outline:none;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-x:hidden;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.margin-top-30{
    margin-top:30px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-30{
    margin-bottom:30px;
}

.padding-0{
    padding:0;
}

.padding-bottom-30{
    padding-bottom:30px;
}

section{
    display:block;
    overflow:auto;
}

.horizontal-center{
    left:50%;
    transform:translateX(-50%);
}

.full-size{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
}

.handle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transform: translateX(-50%) translateY(-50%);
    background-color: tomato;
    opacity: 0.7;
    transition: opacity ease-in-out 0.1s;
    cursor: pointer;
    user-select: none;
}

.handle:hover{
    opacity:1;
}

aside{
    position:fixed;
    left:0;
    top:0;
    width:300px;
    height:100%;
    background-color:var(--dark-color);
}

.slider{
    height:30px;
}

    .slider .handle {
        top: 15px;
        left:0;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: var(--active-color);
        opacity: 1;
        transition: width ease-in-out 0.1s, height ease-in-out 0.1s, border-radius ease-in-out 0.1s;
    }

    .slider:hover .handle{
        width:15px;
        height:15px;
        border-radius:7.5px;
    }

.slider .bar{
    position:absolute;
    top:13.5px;
    left:0;
    width:100%;
    height:3px;
    background-color:var(--active-color);
}

#layer0{
    background-color:rgb(0, 255, 114);
}
#layer1 {
    background-color: rgb(0, 159, 90);
}
#layer2 {
    background-color: rgb(0, 73, 41);
}
#layer3 {
    background-color: rgb(62, 133, 102);
}
#layer4 {
    background-color: rgb(7, 27, 18);
}

.button-group button{
    float:inherit;
}

.button-group{
    position:relative;
    display:inline-block;
}

.button {
    border: none;
    background-image: none;
    background-color: transparent;
    height: 35px;
    width: 35px;
    font-size: 25px;
    outline: none;
}

.button-info {
    width: auto;
    font-size: 16px;
    transition: color ease-in-out 0.1s;
}

.button-info:hover, .button-info:focus{
    color:var(--active-color);
}

    .button-info.danger:hover, .button-info.danger:focus {
        color: var(--danger-color);
    }

    .button i {
        transition: color ease-in-out 0.1s;
        text-decoration:none;
        font-size: inherit;
    }

    .button.light i {
        color: var(--light-color);
    }

    .button.dark i {
        color: var(--dark-color);
    }

    .button:hover i, .button:focus i {
        color: var(--active-color);
    }

.modal-content{
    border:none;
    border-radius:0px;
    background-color:var(--dark-color);
    color:var(--light-color);
}

.modal-header{
    border:none;
    color:inherit;
}

.modal-content .close{
    color:var(--active-color);
    text-shadow:none;
    opacity:0.7;
}

.modal-body p{
    color:var(--light-color);
}

.modal-content .close:hover, .modal-content .close:focus{
    opacity:1.0;
}

.modal-title{
    color:var(--active-color);
}

.modal-body{
    border:none;
    color:inherit;
}

.modal-footer{
    border:none;
    color:inherit;
}

.scroll-bar{
    height:10px;
    background-color:rgb(189, 189, 189);
    border:none;
    border-radius:5px;
}

.scroll-handle{
    position:absolute;
    top:0;
    height:100%;
    background-color:rgb(137, 137, 137);
    border:none;
    border-radius:5px;
    transform:translateX(-50%);
    cursor:pointer;
    user-select:none;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
