.btn-default {
    border: none;
    font-size: 20px;
    border-radius:15px;
    min-width:100px;
    height:35px;
}

.btn-default[disabled]{
    opacity:0.5;
    cursor:not-allowed;
}

.btn-default.primary{
    background-color:var(--active-color);
    color:var(--dark-color);
}

    .btn-default.dark{
        background-color:var(--dark-color);
        color:var(--light-color);
    }

    .btn-default.light {
        background-color: var(--light-color);
        color: var(--dark-color);
    }

    .btn-default:focus{
        box-shadow:rgba(0,0,0,0.4) 2.5px 2.5px 10px;
    }

    .btn-default.primary:active {
        color: var(--light-color);
        background-color: var(--active-color);
    }

    .btn-default:not(.primary):active{
        color:var(--active-color);
        background-color:var(--dark-color);
    }

.pointer{
    cursor:pointer;
}

.scroll-y{
    overflow-x:hidden;
    overflow-y:scroll;
}

.image{
    user-select:none;
}

.grid-4{
    font-size:0;
}

    .grid-4 .grid-item {
        width: 20%;
        margin-right:2.5%;
        margin-left:2.5%;
        padding-top:20%;
        height:0;
        left:0;
        transform:initial;
        display: inline-block;
    }

    .grid-item.image.selected{
        border:solid 1px var(--active-color);
    }

.sprite-editor {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    border: 1px dashed var(--trans-active-color);
}

.circle-10{
    width:10px;
    height:10px;
    border-radius:5px;
}

.bottom-left {
    position: absolute;
    top: 100%;
    left: 0;
}

.bottom-right{
    position:absolute;
    top:100%;
    left:100%;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    left: 100%;
}

.sprite-handle{
    cursor:pointer;
    pointer-events:all;
}