.btn-default {
    border: none;
    font-size: 20px;
    border-radius:15px;
    min-width:100px;
    height:35px;
}

.btn-default[disabled]{
    opacity:0.5;
    cursor:not-allowed;
}

.btn-default.primary{
    background-color:var(--active-color);
    color:var(--dark-color);
}

    .btn-default.dark{
        background-color:var(--dark-color);
        color:var(--light-color);
    }

    .btn-default.light {
        background-color: var(--light-color);
        color: var(--dark-color);
    }

    .btn-default:focus{
        box-shadow:rgba(0,0,0,0.4) 2.5px 2.5px 10px;
    }

    .btn-default.primary:active {
        color: var(--light-color);
        background-color: var(--active-color);
    }

    .btn-default:not(.primary):active{
        color:var(--active-color);
        background-color:var(--dark-color);
    }

.pointer{
    cursor:pointer;
}

.scroll-y{
    overflow-x:hidden;
    overflow-y:scroll;
}

.image{
    user-select:none;
}

.grid-4{
    font-size:0;
}

    .grid-4 .grid-item {
        width: 20%;
        margin-right:2.5%;
        margin-left:2.5%;
        padding-top:20%;
        height:0;
        left:0;
        transform:initial;
        display: inline-block;
    }

    .grid-item.image.selected{
        border:solid 1px var(--active-color);
    }

.sprite-editor {
    position: absolute;
    border: 1px dashed var(--trans-active-color);
}

.circle-10{
    width:10px;
    height:10px;
    border-radius:5px;
}

.bottom-left {
    position: absolute;
    top: 100%;
    left: 0;
}

.bottom-right{
    position:absolute;
    top:100%;
    left:100%;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    left: 100%;
}

.pos-title{
    position:absolute;
    top:-50px;
    left:50%;
}

.sprite-handle{
    cursor:pointer;
    pointer-events:all;
}

.sprite-rotator{
    cursor:pointer;
    pointer-events:all;
    border: 1px solid var(--dark-color);
}

.text-field{
    background-color:transparent;
    border:none;
}

    .text-field.dark {
        color: var(--light-color);
        caret-color: var(--light-color);
        border-bottom: 1px solid var(--light-color);
        transition:border-bottom ease-in-out 0.1s;
    }

    .text-field:active, .text-field:focus{
        border-bottom:1px solid var(--active-color);
        outline:none;
    }

.card {
    width: 80%;
    height: 100px;
    background-color: var(--light-color);
    box-shadow: 4px 6px 19px -5px rgba(0,0,0,0.5);
    margin-bottom:25px;
}

a{
    color:var(--dark-color);
    transition:color ease-in-out 0.1s;
}

a:focus, a:active, a:hover{
    color:var(--active-color);
}

a.danger:focus, a.danger:active, a.danger:hover{
    color:var(--danger-color);
}

.card label{
    font-size:18px;
    padding-top:17px;
}

.card .options{
    padding-top:35px;
}

.card .options>*{
    float:right;
    margin-right:20px;
}