
@{
    ViewData["Title"] = "Log In";
}

<h2>Login</h2>

<div class="col-lg-8 col-md-8 dark horizontal-center">
    <label class="col-lg-8 col-md-8 text-center margin-top-100">Username:</label>
    <input type="text" class="text-field light col-lg-8 col-md-8 margin-top-30" data-target="username" />
    <label class="col-lg-8 col-md-8 text-center margin-top-100">Password:</label>
    <input type="text" class="text-field light col-lg-8 col-md-8 margin-top-30" data-target="password" />
    <div class="col-lg-8 col-md-8 margin-top-100">
        <button class="btn-default horizontal-center pos-absolute primary" data-target="login">Log In</button>
    </div>
</div>

