
<header class="sprite-header col-lg-6 col-md-6 horizontal-center">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="SpriteBuilder" asp-action="Index">Sprite Builder</a></li>
                    <li><a asp-area="" asp-controller="SpriteBuilder" asp-action="Normal">Normal Map Builder</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>