
@{
    ViewData["Title"] = "Magic Trainer";
}

<content class="col-lg-6 col-md-6 horizontal-center margin-top-100">
    <div class="col-lg-12 col-md-12">
        <img class="backdrop" style="z-index:-1"/>
        <canvas class="drawing-surface" style="z-index:1">
            Canvas is not supported on your browser
        </canvas>
    </div>
    <div class="col-lg-12 col-md-12 margin-top-30">
        <div class="col-lg-9 col-md-9 horizontal-center">
            <label class="col-md-12 col-lg-12 font-18 text-center">Press space to quick upload data</label>
            <label class="col-md-12 col-lg-12 font-14 text-center">(Select magic to train)</label>
            <i class="fas font-30 active-text fa-check text-center col-md-12 col-lg-12" style="display:none;" data-target="success"></i>
        </div>
    </div>
</content>

<aside>
    <div data-target="magic-types" class="server-magic-type col-lg-12 col-md-12 margin-top-100 horizontal-center">

    </div>
</aside>



