
@{
    ViewData["Title"] = "Sprite Builder";
}

<content class="col-lg-10 col-md-10 col-sm-10 margin-top-30 horizontal-center" style="height:750px;">
    <div class="fileUploader">
        <div class="dropzone col-lg-12 col-md-12 col-sm-12 horizontal-center margin-top-30" style="height:700px">
            <label class="col-lg-12 col-md-12 horizontal-center text-center margin-top-250 font-30">Drop Files Here...</label>
        </div>
        <div class="finalzone col-lg-12 col-md-12 horizontal-center margin-top-30" style="height:700px; display:none;">
            <img class="col-lg-6 col-md-6 upload-image margin-top-100 horizontal-center" src="" />
        </div>
        <input class="hidden" data-target="file-uploader" type="file" />
    </div>
</content>

<aside>
    <div data-target="images" class="server-image col-lg-12 col-md-12 margin-top-100 horizontal-center">

    </div>
</aside>