
@{
    ViewData["Title"] = "Sprite Builder";
}

@Html.Partial("_SpriteHeader")

<content class="col-lg-10 col-md-10 col-sm-10 margin-top-30 horizontal-center" style="height:750px;">
    <div class="fileUploader">
        <section>
            <div class="dropzone col-lg-12 col-md-12 col-sm-12 horizontal-center margin-top-30" style="height:700px">
                <label class="col-lg-12 col-md-12 horizontal-center text-center margin-top-250 font-30">Drop Files Here...</label>
            </div>
            <div class="finalzone col-lg-12 col-md-12 horizontal-center margin-top-30" style="height:700px; display:none;">
                <img class="col-lg-9 col-md-9 upload-image margin-top-100 horizontal-center" src="" />
            </div>
            <input class="hidden" data-target="file-uploader" type="file" />
        </section>
        <section>
            <div id="submit-image" class="margin-bottom-30 margin-top-30 pos-absolute horizontal-center" style="display:none">
                <button class="btn-default primary margin-right-30" data-target="submit-image">Upload</button>
                <button class="btn-default dark" data-target="dismiss-image">Dismiss</button>
            </div>
        </section>
    </div>
</content>

<aside>
    <div data-target="images" class="server-image col-lg-12 col-md-12 margin-top-100 horizontal-center">

    </div>
</aside>