
@{
    ViewData["Title"] = "Worlds";
}

<div class="pull-right col-lg-12 col-md-12 button-group margin-top-100">
    <button type="button" class="button" data-toggle="modal" data-target="#newWorldModal">
        <i class="fas fa-folder-plus"></i>
    </button>
</div>

@Html.Partial("_NewWorldModal")

